{{#if (isAdmin user.TipoEmpleado)}}    
    <div class="container-fluid">
        <div class="row">   
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="col-6 mx-auto mt-2">
                    {{>message}}
                </div>
                <div class="row">
                    <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> -->
                    <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                        <div class="card w-100 border-primary">
                            <div class="card-header font-weight-bold">Total Usuarios</div>
                            <div class="card-body text-primary">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{countStaff}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                        <div class="card w-100 border-primary">
                            <div class="card-header font-weight-bold">Areas registradas</div>
                            <div class="card-body text-primary">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{countArea}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                        <div class="card w-100 border-primary">
                            <div class="card-header font-weight-bold">Elementos registrados</div>
                            <div class="card-body text-primary">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{countElement}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                        <div class="card w-100 border-primary">
                            <div class="card-header font-weight-bold">Proveedores registrados</div>
                            <div class="card-body text-primary">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{countProvider}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->                
                </div>     
                <div class="row">
                    <div class="col-6">
                        <div class="card border-primary">
                            <div class="card-header font-weight-bold">Empleados por area</div>
                            <div class="card-body">
                                <canvas id="pieChart" width="1200" height="800"></canvas>
                            </div>
                        </div>                
                    </div>
                </div>
            </main>
        </div>
    </div>  
{{/if}}

{{#if (isInventario user.TipoEmpleado)}}
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="col-6 mx-auto mt-2">
                {{>message}}
            </div>
            <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> -->
            <div class="row">
                <div class="col-6 col-lg-3 m-4 mx-auto">
                    <div class="card w-100 border-primary">
                        <div class="card-header font-weight-bold text-danger">Alerta stock</div>
                        <div class="card-body text-primary">
                            <div class="card-text">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Stock</th>
                                        </tr>
                                        {{#each stockAlert}}
                                        <tr>
                                            <td>{{NombreElemento}}</td>
                                            <td>{{Stock}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 m-4 mx-auto">
                    <div class="card w-100 border-primary">
                        <div class="card-header font-weight-bold">Elementos registrados</div>
                        <div class="card-body text-primary">
                            <div class="card-text">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{countElement}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card w-100 border-primary mt-5">
                        <div class="card-header font-weight-bold">Elementos asignados</div>
                        <div class="card-body text-primary">
                            <div class="card-text">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{assignedElements}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 m-4 mx-auto">
                    <div class="card w-100 border-primary">
                        <div class="card-header font-weight-bold">Valor total inventario</div>
                        <div class="card-body text-primary">
                            <div class="card-text">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{elementsValue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card w-100 border-primary mt-5">
                        <div class="card-header font-weight-bold">Total asignado</div>
                        <div class="card-body text-primary">
                            <div class="card-text">
                                <p class="card-text font-weight-bold" style="font-size: 30px;">{{totalAssigned}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </main>
    </div>
</div>
{{/if}}

{{#if (isCompras user.TipoEmpleado)}}
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="col-6 mx-auto mt-2">
                {{>message}}
            </div>
            <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> -->
            <div class="row">
                <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                    <div class="card w-100 border-primary">
                        <div class="card-header font-weight-bold">Elementos registrados</div>
                        <div class="card-body text-primary">
                            <p class="card-text font-weight-bold" style="font-size: 30px;">{{countElement}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                    <div class="card w-100 border-primary">
                        <div class="card-header font-weight-bold">Proveedores registrados</div>
                        <div class="card-body text-primary">
                            <p class="card-text font-weight-bold" style="font-size: 30px;">{{countProvider}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-3 m-4 mx-auto">
                    <div class="card w-100 border-primary">
                        <div class="card-header font-weight-bold">Valor total Inventario</div>
                        <div class="card-body text-primary">
                            <p class="card-text font-weight-bold" style="font-size: 30px;">{{elementsValue}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11 mx-auto">
                    <div class="card border-primary">
                        <div class="card-header font-weight-bold">Valor asignado por area</div>
                        <div class="card-body mx-auto">
                            <canvas id="barChart" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </main>
    </div>
</div>
    
{{/if}}

